@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-primary: "DM Sans", sans-serif;

  --container: 1152px;
  --container-padding: 0 20px;

  --color-primary: #2579f3;
  --color-secondary: #e0effe;
  --color-muted: #595959;

  --text-margin-top: 24px;

  --text-size-large: 60px;
  --text-size-medium: 15px;
  --text-size-small: 18px;

  --btn-bg-color-primary: var(--color-primary);
  --btn-border: 1px solid var(--color-secondary);
  --btn-radius: 8px;
  --btn-padding: 8px 14px;
  --btn-color: #fff;

  --bg-color: #e1f0fe;
}

body {
  font-family: var(--font-primary);
}

.container {
  max-width: var(--container);
  margin: auto;
  background-color: var(--bg-color);
  padding: var(--container-padding);
  position: relative;

  #line-left {
    width: 1px;
    background-image: linear-gradient(gray, #ffffff);
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }

  #line-right {
    width: 0.5px;
    background-image: linear-gradient(gray, #ffffff);
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.min-h-screen {
  min-height: 100vh;
}

.cta-btn {
  background-color: var(--btn-bg-color-primary);
  border: var(--btn-border);
  border-radius: var(--btn-radius);
  padding: var(--btn-padding);
  color: var(--btn-color);
  font-size: var(--text-size-medium);
  cursor: pointer;
}

.cta-btn:hover {
  transition: 0.2s all ease-in-out;
  background-color: #2262c7;
}

.hero {
  background-color: var(--bg-color);

  .radial-gradient {
    background: radial-gradient(ellipse at top, white 10%, var(--bg-color) 60%);
    width: 100%;
    height: 400px;
    position: absolute;
  }

  nav {
    position: relative;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 0;

    img {
      width: 70px;
    }

    ul {
      display: flex;
      align-items: center;
      list-style-type: none;
      gap: 25px;

      li {
        font-size: var(--text-size-medium);
        font-weight: 400;

        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }

  .hero-heading {
    margin-top: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;

    #hero-pill {
      border: 1px solid var(--color-secondary);
      background-color: #edf1f6;
      padding: 5px 12px;
      border-radius: 20px;
      font-size: 12px;
      font-weight: 600;
      margin-bottom: 20px;
      cursor: pointer;

      a {
        text-decoration: none;
        color: #202020;
        display: flex;
        align-items: center;
        gap: 8px;
      }

      i {
        font-size: 8px;
        color: #82848a;
      }
    }

    #hero-pill:hover {
      transition: 0.3s all ease-in-out;
      background-color: #e5e8ee;
    }

    h1 {
      font-size: var(--text-size-large);
      font-weight: 600;
      color: #202020;
      line-height: 60px;
    }

    p {
      color: var(--color-muted);
      font-size: var(--text-size-small);
      line-height: 25px;
    }

    .buttons-area {
      display: flex;
      gap: 5px;

      #sec-btn {
        background-color: transparent;
        font-size: var(--text-size-medium);
        font-weight: 500;
        color: #000;
        border: var(--btn-border);
        border-radius: var(--btn-radius);
        padding: 10px 15px;
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;

        i {
          font-size: 8px;
          color: #82848a;
        }
      }

      #sec-btn:hover {
        transition: 0.2s all ease-in-out;
        background-color: #d3e1ef;
      }
    }

    #small-hero-txt {
      font-size: 12px;
      color: #9d9d9d;
    }
  }

  .hero-image {
    max-width: var(--container);
    margin: auto;
    padding: var(--container-padding);

    img {
      width: 100%;
      margin-top: 20px;
      border-radius: var(--btn-radius);
    }
  }

  .horizontal-line {
    width: 100%;
    height: 1px;
    background-color: #d3e1ef;
    margin-top: 90px;
  }

  .marky {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 80px;

    p {
      font-size: var(--text-size-medium);
      font-weight: 500;
      color: #202020;
      line-height: 25px;
      text-align: center;
    }

    #marky_logos {
      display: flex;
      align-items: center;
      gap: 48px;
      flex-flow: row wrap;

      img {
        width: 140px;
        height: auto;
        margin: auto;
        object-fit: cover;
      }
    }
  }
}

.mid-content {
  position: relative;
  padding: 6rem 4.5rem 0;
  background-color: #fff;
  /* padding-inline: 32px; */

  .mid-content-container {
    position: relative;
    margin-inline: auto;
    max-width: var(--container);
    min-height: 26rem;
    padding: 4rem 0.5rem;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(
        83.87% 100% at 50% 9.62%,
        #fff0 62.02%,
        #ffffff1a 91.35%
      ),
      #202020;
    text-align: center;

    h1 {
      font-size: 40px;
      font-weight: 600;
      color: #fff;
      line-height: 44px;
      word-spacing: 0.02em;
      letter-spacing: 0.025em;
      text-align: center;
    }

    h2 {
      color: #cecece;
      font-size: 40px;
      font-weight: 600;
      line-height: 44px;
      word-spacing: 0.03em;
      letter-spacing: 0.025em;
      text-align: center;
    }

    p {
      color: #bbbbbc;
      margin-top: 0.75rem;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.015em;
      word-spacing: 0.02em;
      text-align: center;
    }

    .mid-cta-btn {
      background-color: var(--btn-bg-color-primary);
      margin-top: 1.5rem;
      padding: var(--btn-padding);
      color: #fff;
      font-size: var(--text-size-medium);
      cursor: pointer;
      border-radius: var(--btn-radius);
      border: none;
      text-shadow: 0 1px 1px #00000029;
      text-align: center;
    }

    .mid-cta-btn:hover {
      transition: 0.2s all ease-in-out;
      background-color: #2262c7;
    }
  }
}

.end-content{
  padding-top: 6rem;
  padding-bottom: 5rem;
  max-width: var(--container);
  padding-inline: 32px;
  margin: auto;

  .end-content-first-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left-side-content{
      display: flex;
      align-items: center;
      gap: 1.5rem;

      a{
        text-decoration: none;
      }

      p{
        font-size: .875rem;
        font-weight: 600;
        text-align: center;
      }
    }

    .right-side-content{
      display: flex;
      align-items: center;
      gap: 1rem;

      a{
        text-decoration: none;
      }

      a:hover{
        opacity: 0.8;
        transition: 0.2s all ease-in-out;
      }
    }
  }

  hr{
    border-color: #efeff2;
    margin-top: 1.5rem;
  }

  .end-content-second-container{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    #copyright{
      font-size: .75rem;
      font-weight: 350;
      color: #595959;
      line-height: 20px;
      letter-spacing: 0;
      word-spacing: .02em;
    }

    .last-right-side-content{
      display: flex;
      align-items: center;
      gap: 1.5rem;

      a{
        color: black;
        text-decoration: none;
        font-size: .75rem;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0;
        word-spacing: .02em;
      }

      a:hover{
        text-decoration: underline;
      }
    }
  }
}
